asgiref==3.8.1
cffi==1.17.1
cfgv==3.4.0
cryptography==45.0.4
distlib==0.3.9
Django==5.2.3
django-cors-headers==4.7.0
django-filter==25.1
django-user-agents==0.4.0
djangorestframework==3.16.0
drf-jwt==1.19.2
drf-yasg==1.21.10
filelock==3.18.0
identify==2.6.12
inflection==0.5.1
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pre_commit==4.2.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
sqlparse==0.5.3
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uritemplate==4.2.0
user-agents==2.2.0
virtualenv==20.31.2
